<div class="container py-5">
  <div class="card col-12 col-lg-12 col-md-12 p-4">
    <h3 class="card-header mb-3 text-center" style="border: 1px solid rgba(0,0,0,.125);">Registration Form</h3>
    <form class="row g-3">
      <div class="col-6 col-lg-4 col-md-4">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" placeholder="Enter your firstname" [(ngModel)]="user.firstname">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" placeholder="Enter your lastname" [(ngModel)]="user.lastname">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="user.email">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="gender" class="form-label">Gender</label>
        <div>
          <div class=" form-check form-check-inline">
            <input class="form-check-input" checked type="radio" name="gridRadios" id="gridRadios1" value="Male" [(ngModel)]="user.gender">
            <label class="form-check-label" for="gridRadios1"> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Female" [(ngModel)]="user.gender">
            <label class="form-check-label" for="gridRadios2"> Female </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Others" [(ngModel)]="user.gender">
            <label class="form-check-label" for="gridRadios2">Others</label>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="dob" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" name="dob" placeholder="Enter your dob" [(ngModel)]="user.dob">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" name="phone" placeholder="Enter your Mobile No." [(ngModel)]="user.phone">
      </div>
      <div class="col-12 col-lg-8 col-md-8">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" name="address" placeholder="1234 Main St" [(ngModel)]="user.address">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" name="city" placeholder="Enter your city" [(ngModel)]="user.city">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" name="state" placeholder="Enter your state" [(ngModel)]="user.state">
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" name="country" placeholder="Select your country" [(ngModel)]="user.country">
          <option selected>Select Country</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Bhutan">Bhutan</option>
          <option value="China">China</option>
          <option value="India">India</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="Nepal">Nepal</option>
        </select>
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="zipcode" class="form-label">Zipcode</label>
        <input type="text" class="form-control" name="zipcode" placeholder="Enter your zipcode" [(ngModel)]="user.zipcode">
      </div>
      <div class="col-12 col-lg-8 col-md-8">
        <label for="comments" class="form-label">Comments</label>
        <textarea class="form-control" name="comments" rows="3" placeholder="Enter any Comments" [(ngModel)]="user.comments"></textarea>
      </div>
      <div class="col-6 col-lg-4 col-md-4">
        <label for="season" class="form-label">Joining Season</label>
        <div>
          <div class=" form-check form-check-inline">
            <input class="form-check-input" checked type="radio" name="seasonRadios" value="Spring" [(ngModel)]="user.season">
            <label class="form-check-label" for="gridRadios1"> Spring </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="seasonRadios" value="Winter" [(ngModel)]="user.season">
            <label class="form-check-label" for="gridRadios2"> Winter </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="seasonRadios" value="Summer" [(ngModel)]="user.season">
            <label class="form-check-label" for="gridRadios2"> Summer </label>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-row justify-content-end">
        <button type="submit" class="btn btn-primary ms-2" (click)="register()">Register</button>
        <button type="submit" class="btn btn-danger ms-2" (click)="clearForm()">Clear Form</button>
      </div>
    </form>
  </div>
</div>